/* -------------------------Обнуление---------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; } 

  body{
      display: flex;
      flex-direction: column;
  }
  p, h1, h2, a{
    font-family:'Courier New', Courier, monospace;
  }
/* ----------------------------------HEADER--------------------------------- */
.header__name{
color:black;
margin:0.5vw 0;
}
header{
width: 100%;
height: 10wv;
background-color: #FE0600;
text-align: center;
font-size: 40px;
}
/* -------------------------------------NAV---------------------------------------- */

.header__nav{
width: 100%;
height: 12vh;
font-size: 20px;
display: flex;
align-items:center;
}
.header__list{
width:80%;
margin: 0 auto;
display: flex;
justify-content: space-around;
}
.link{
color: white;
text-decoration: none;
}

/* ------------------------------------CONTENT----------------------------------- */
p, .history__header, .history__pheader {
color:black;
margin-bottom: 5px;
}

.history {
  width: 100%;
  height: auto;
  background: url('./img/flag.jpg') top left;
  background-repeat:repeat-y ;
  background-size: 100% 100%;
  background-attachment: fixed;
  filter: brightness(7);
}
.history *{
  filter: brightness(0.6);
}
.history__plot{
  
  display: flex;
  flex-direction: column;
}
.history__plot-container{
  width: 85vw;
  display: inherit;
  flex-direction: inherit;
  align-self: center;
}
.history__header {
text-align: center;
margin-top: 30px;
font-size: 4vw;
font-weight: 800;
}
.history__pheader{
text-align: center;
margin-top: 30px;
font-size: 3vw;
font-weight: 800;
}
.history__img {
  width: 80%;
  height: 30vw;
  margin: 0 auto;
}
hr {
background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
border: 0;
height: 1px;
margin: 22px 0 22px 0;
}
.history__undertext {
text-indent: 5vw;
text-align:justify;
margin-top: 20px;
font-size: 2.2vw;
font-weight: 700;
}
.history__text{
text-indent: 5vw;
text-align:justify;
margin-top: 10px;
font-size: 2.4vw;
font-weight: 700;
}

/* -----------------------------------FOOTER------------------------------------------ */
footer{
width: 100%;
min-height:12vw;
background-color: #FE0600;
display: flex;
align-self: flex-end;
}
pre{
margin: 1vh auto;
text-align: center;
font-size: 1.7vw;
line-height:3vw ;
}
